header {
    min-height: 100px;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.glyphicon:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.network-structure input[name=hidden-nodes] {
    margin-bottom: 10px;
}

.network-testing form {
    display: inline-block;
    margin-bottom: 10px;
}

.network-testing label {

    margin-right: 10px;

}

.network-testing input {
    margin-right: 20px;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
