header {
    min-height: 100px;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.glyphicon:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.network-structure input[name=hidden-nodes] {
    margin-bottom: 10px;
}

.network-testing {
    margin-bottom: 50px;
}

.network-testing form {
    display: inline-block;
    margin-bottom: 10px;
}

.network-testing label {
    margin-right: 10px;
}

.network-testing input {
    margin-right: 20px;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.error-value p {
    width: 75%;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin: 0 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
    text-align: center;
    line-height: 25px;
}

button.test-network {
    margin-left: 4%;
}